<!-- views/prices/new.ejs -->
<% layout("/layouts/boilerplate") -%>

<body>
    <h1>Add New Prices</h1>
    <form action="/prices" method="POST">
        <label for="month">Month:</label>
        <select name="month" id="month" required>
            <option value="">Select Month</option>
            <% ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"].forEach(month => { %>
                <option value="<%= month %>"><%= month %></option>
            <% }); %>
        </select>

        <table>
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
            </tr>
            <tr>
                <td><input type="number" name="price1" value="0"></td>
                <td><input type="number" name="price2" value="0"></td>
                <td><input type="number" name="price3" value="0"></td>
                <td><input type="number" name="price4" value="0"></td>
                <td><input type="number" name="price5" value="0"></td>
            </tr>
        </table>

        <button type="submit">Save Prices</button>
    </form>
</body>
